<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
</head>
<body>
  <h1>Registro de cuenta</h1>
  <form action="/register" method="POST">
    <label for="email">Correo electrónico:</label>
    <input type="text" id="email" name="email" required>
    <br>
    <label for="username">Nombre de usuario:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <br>
    <input type="submit" value="Registrarse">
  </form>
  <br>
  <a href="/login">Ya tengo cuenta</a>
  <br>
  <a href="/auth/github">Registrarse con GitHub</a>
</body>
</html>
